<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-aac-recorder" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AACRecorder</name>
    <description>Lightweight in-app AAC (ADTS) audio recorder for Cordova Android</description>

    <js-module src="www/AACRecorder.js" name="AACRecorder">
        <clobbers target="AACRecorder" />
        <clobbers target="window.AACRecorder" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>

        <source-file src="src/android/AACRecorder.java" target-dir="src/com/calorieai/aacrecorder" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AACRecorder">
                <param name="android-package" value="com.calorieai.aacrecorder.AACRecorder" />
            </feature>
        </config-file>
    </platform>
</plugin>
